.page-title {
  font-size: 23px;
  font-weight: 600;
}

.page-sub-title {
  font-size: 17px;
  font-weight: 600;
}

.ant-menu-title-content {
  font-size: 15px;
}

.table {
  margin-top: 20px;
}

.modal-title {
  margin: 20px 0px;
}

.modal-input {
  margin: 10px 0px;
}
