.agency-row {
  min-height: 60px;
  border: 1px solid lightgray;
}

.table-cell {
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.table-title {
  font-weight: bold;
  background-color: #d7e9ff;
}

.action-cell {
  display: flex;
  flex-wrap: wrap;
}
.action-button {
  margin: 10px 10px;
}
