.order-page {
  margin: 20px 17%;
}

.order-form-label {
  width: 150px;
}

.order-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e0e0e0;
  background-color: #fbf8f8;
  padding: 1px 0;
  padding-right: 20px;
  min-height: 36px;
}

.order-output-row {
  padding: 10px;
  align-items: flex-start;
  padding-left: 40px;
}

.receiver-output-row {
  padding-top: 10px;
  align-items: flex-start;
  height: 70px;
  padding-left: 40px;
}

.order-input {
  display: flex;
  align-items: flex-start;
  margin-left: 14px;
  padding-top: 1px;
}

.order-search-icon {
  margin-top: 3px;
  margin-left: 1px;
}

.form-header-input input {
  height: 27px;
}

.form-item.payment-form-text-input input,
.form-item.payment-form-text-input textarea {
  background-color: #cccccc;
}

.point-of-payment {
  padding-bottom: 7px;
}

.order-amount-row {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  background-color: rgb(244, 253, 0);
}

.form-item.white-input input {
  background-color: white;
}

.gray-btn {
  background-color: #b7b7b7;
  color: #e4e4e4;
}

.green-btn {
  background-color: #43ac0f;
  color: white;
}

.order-total-row {
  justify-content: start;
  padding: 6px 10px;
}

.order-total {
  font-size: 16px;
  font-weight: bold;
}

.yellow-btn {
  background: linear-gradient(0deg,
      rgb(244, 253, 0) 11.2%,
      rgb(255, 219, 47) 100.2%);
}

.change-rate-btn {
  font-weight: bold;
  margin-left: 10px;
}

.order-header {
  background-color: #fbf8f8;
}

.order-header-link {
  color: rgb(0, 0, 192);
  font-weight: bold;
}

.order-header-link:hover {
  cursor: pointer;
}

.order-header-link-pipe {
  color: rgb(0, 0, 192);
  margin: 0 8px;
}

.header-info-title {
  padding: 5px 10px;
  padding-right: 20px;
  background-color: #d6d6d6;
  border-radius: 8px;
  font-weight: 500;
}

.header-info-value {
  background-color: white;
  border: 1px solid #cccccc;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 500;
  padding-right: 25px;
}

.grey-input-btn {
  width: 100%;
  border-radius: 0;
  background-color: #cccccc;
  border: 0.8px solid #888;
  height: 26px;
}

.order-modal .ant-modal-content {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border-radius: 4px !important;
}

.payee-modal {
  width: 55vw !important;
}

.order-modal-content {
  padding: 1px 3px;
}

.order-modal-header {
  background: none;
  background-color: #ddd;
  border: 1px solid #ccc;
}

.payee-info-form-box {
  border: 1px solid #ccc;
  margin: 5px 8px;
  margin-top: 5px;
  padding: 5px;
}

.payee-info-input-row {
  background-color: #eeeeee;
  padding-top: 3px;
  padding-bottom: 3px;
}

.payee-input .ant-select-selector {
  background-color: white;
}

.reload-btn {
  color: #1c96c5;
  margin-top: 15px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: underline;
}

.payee-partner-box {
  height: 150px;
  border: 1.2px solid #aaa;
}

.payee-btn-container {
  margin: 15px 0px;
}

.payee-btn {
  width: 90px;
}

.payee-cancel-btn {
  background-color: red !important;
  color: white !important;
  margin-left: 10px;
}

.bank-info-header {
  margin-bottom: 3px;
  padding: 4px;
  min-height: 30px !important;
}

.bank-info-header p {
  font-weight: 500;
  font-size: 13px;
}

.bank-input-label {
  font-weight: bold;
  margin-bottom: 5px !important;
}

.payee-partner-title-box {
  padding-left: 8px;
  padding-top: 8px;
}

.payee-icon-conainer {
  background-color: red;
  border-radius: 50%;
  color: white;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.partner-search-icon {
  margin-top: 2px;
  height: 35px !important;
  width: 35px !important;
  margin-left: 50px;
  font-size: 20px;
}

.partner-o {
  color: #ccc;
  font-size: 12px;
}

.partner-address {
  margin-left: 10px;
  background-color: blue;
  color: white;
  font-weight: 400;
}

.payee-modal .ant-table td,
.payee-modal .ant-table th {
  border: 1px solid #ccc !important;
  padding: 2px !important;
}

.payee-modal .ant-table th {
  border-radius: 0px !important;
  background-color: #ddd !important;
}

.bank-accounts-table {
  margin-bottom: 120px;
}

.partner-title {
  color: blue;
  font-weight: 700;
}

.alert-modal {
  width: 33vw !important;
}

.identification-section {
  margin: 10px 0px;
}

.identification-option {
  color: rgb(9, 142, 9);
  font-weight: 650;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  margin-bottom: -2px;
}

.alert-info {
  height: 33px;
  font-weight: 400;
  font-size: 13px;
  color: #555;
}

.alert-header-container {
  margin-bottom: -4px;
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 10px;
}
.bank-accounts-table .ant-table-row:hover {
  background-color: inherit !important;
  /* Or any color that matches the normal row background */
}
.bank-accounts-table .ant-table-row:focus {
  background-color: inherit !important;
  /* Or any color that matches the normal row background */
}
