.output-content {
  width: 58%;
}

.output-header {
  display: flex;
  width: 68%;
  justify-content: space-between;
}

.output-left {
  margin-top: 10px;
  margin-left: 2px;
}

.output-logo-img {
  width: 85px;
  margin-bottom: 12px;
}

.output-agency {
  font-size: 14.5px;
  font-weight: 800;
  letter-spacing: 0.3px;
}

.output-agency-bottom {
  margin-top: 5px;
  margin-bottom: 25px;
}

.output-btns {
  margin-bottom: 15px;
}

/* .output-btns div {
  font-size: 13px;
  font-weight: 700;
  margin-right: 5px;
  color: white;
  cursor: pointer;
} */

.output-btn-green {
  padding: 3px 4px;
  background-color: #12960f;
  border: 2px solid black;
  border-radius: 3px;
}

.output-btn-red {
  padding: 4px 6px;
  background-color: #d00000;
}

.output-right {
  margin-top: 1px;
}

.output-right p {
  font-size: 14.5px;
  text-align: end;
}

.output-table-header {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.output-header-cell {
  background-color: #d8ebff;
  font-weight: 800;
  margin-right: 2px;
  padding: 0px 2px;
  font-size: 14px;
}

.output-header-cell-first {
  padding-left: 10px;
  flex: 1.2;
}

.output-header-cell-second {
  flex: 0.9;
}

.output-header-cell-third {
  flex: 4;
}

.report-output-table
  .ant-table-tbody
  td:nth-child(3):not(.ant-table-cell-fixed-header) {
  color: black;
}
