.new-transaction-title {
  background-color: #d7ebff;
  border-bottom: 2.5px solid #779dae;
  padding: 3px 0px 1px 4px;
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 10px;
}

.new-transaction-form {
  margin-left: 10px;
}

.new-transaction-box {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 20px 10px;
  padding-left: 3px;
}

.new-transaction-border-title {
  position: absolute;
  margin-top: -32px;
  margin-left: 10px;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 0px 10px;
  font-weight: 500;
}

.transactions-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transactions-nav {
  background-color: #1a538c;
  padding: 5px 8px;
  color: white;
}

.transaction-nav-item {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
}

.logo {
  padding: 5px 0px;
  /* min-width: 80px; */
}

.language-dropdown {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 190px;
}

.language-dropdown-choice {
  color: black;
  font-weight: 600;
}

.language-dropdown-icon-container {
  background-color: #c1deeb;
  color: #1a538c;
  font-size: 13px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  background-color: black;
  padding: 5px 5px;
}

.user-info-key {
  color: yellow;
  border: 1px solid yellow;
  padding: 5px 3px;
}

.user-info-value {
  background-color: yellow;
  border: 1px solid yellow;
  padding: 5px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-transaction-input input {
  padding: 10px 2px;
  border-radius: 3px;
  color: black;
  margin-top: 1px;
}

.result-title {
  background-color: black;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
}

.result-customers {
  min-height: 45vh;
}

.results-table {
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.results-table::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.results-footer {
  padding: 3px 15px;
  background-color: yellow;
  border: 1.2px solid black;
  display: flex;
  align-items: center;
}

.results-page-input {
  background-color: white;
  width: 80px;
  margin: 0px 5px;
}

.results-page-dropdown .ant-select {
  width: 60px !important;
  margin: 0px 5px;
}

.results-page-dropdown .ant-select-arrow {
  color: black !important;
}

.results-page-dropdown .ant-select-selector {
  color: black !important;
}

.page-arrow:hover {
  cursor: pointer;
}

.results-total-pages {
  margin: 0px 6px;
}

.senders-results .ant-table td,
.senders-results .ant-table th {
  border: 1px solid white !important;
  padding: 2px !important;
  padding-left: 5px !important;
  font-size: 13.5px !important;
}

.senders-results .ant-table th {
  border-radius: 0px !important;
  background-color: #ceecea !important;
  color: #787 !important;
  min-width: 250px !important;
  font-weight: 400 !important;
}

.sender-account {
  color: blue;
}

.senders-results .ant-table th:first-child {
  min-width: 150px !important;
}

.footer {
  background-color: black;
  color: white;
  margin-top: 7px;
  padding: 3px 15px;
  font-weight: 200;
  font-size: 15px;
}
