.cash-mgt-modal {
  width: 30vw !important;
}

.modal-underline-row {
  margin: 3px 10px;
  padding-left: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.cash-mgt-btns {
  margin-top: 30px;
  margin-bottom: 10px;
}

.cash-mgt-ok {
  background-color: #43ac0f;
  color: white;
  margin-right: 5px;
}

.cash-mgt-cancel {
  background-color: red;
  color: white;
}

.first-row {
  margin-top: 20px;
}

.last-row {
  margin-bottom: 25px;
}

.cash-labels {
  color: #666;
  font-size: 13px;
}
