.document-modal {
  width: 85vw !important;
}

.document-btns {
  margin-top: 14px;
  margin-left: 2px;
}

.document-ok-btn {
  width: 130px;
  margin-right: 10px;
}

.document-cancel-btn {
  width: 130px;
  background-color: red;
  color: white;
}

.document-table-info {
  color: red;
  margin-top: 35px;
  margin-left: 2px;
}

.document-modal .ant-table {
  width: 120% !important;
}

.document-modal .ant-table td,
.document-modal .ant-table th {
  border: 0.5px solid #ccc !important;
  padding: 2px !important;
}

.document-modal .ant-table th {
  border-radius: 0px !important;
  background-color: #ddd !important;
  white-space: nowrap;
  padding: 0px 8px !important;
  font-weight: 500 !important;
}

.document-modal .ant-table td {
  padding-right: 15px !important;
}

.document-table {
  min-height: 50vh;
  overflow: scroll;
  margin: 0px 2px;
}
