.update-rate-input-row {
  margin-left: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.update-rate-modal {
  width: 28vw !important;
}

.update-rate-btns {
  margin-top: 6px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.update-btn-ok {
  color: white;
  margin-right: 10px;
}

.update-btn-cancel {
  background-color: red;
  color: white;
}
