.formHeader {
  background: linear-gradient(
    0deg,
    rgb(244, 253, 0) 11.2%,
    rgb(255, 219, 47) 100.2%
  );
  margin: 2px 0px;
  padding: 0px 10px;
  padding-right: 25px;
  border-radius: 10px;
  border: 1.5px solid #888;
  min-height: 33px;
}

.headerTitle {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 10;
}
