.form-select {
  border-radius: 0;
  border: 0.8px solid #888;
  height: 27px !important;
}

.form-select .ant-select-arrow {
  color: #1c96c5;
}

.form-select .ant-select-selector {
  border-radius: 0;
  border: 0.8px solid #888;
  height: 24px;
  color: #1c96c5;
  background-color: transparent;
}

.ant-select-dropdown {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

/* .ant-select-item-option-selected {
  color: blue;
} */

.ant-select-dropdown,
.rc-virtual-list-holder-inner {
  border-radius: 4px;
}

.ant-select-item {
  padding: 0px !important;
  min-height: 13px !important;
  padding-left: 10px !important;
}

div[aria-selected="true"] {
  font-weight: 400 !important;
  color: white !important;
  background-color: #2373c2 !important;
  border-radius: 0px !important;
}

.ant-select-item-option-content {
  border-radius: 0px;
  font-size: 13px;
}

.ant-select-selector:focus,
.ant-select-selector:hover {
  border-color: #888 !important;
  box-shadow: none;
}
